/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@font-face {
    font-family: WorkSans;
    src: url(fonts/WorkSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: WorkSans;
    src: url(fonts/WorkSans-Light.ttf);
    font-weight: light;
}

@font-face {
    font-family: WorkSans;
    src: url(fonts/WorkSans-Medium.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Hack;
    src: url(fonts/Hack-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Hack;
    src: url(fonts/Hack-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: RobotoThin;
    src: url(fonts/Roboto-Thin.ttf);
    font-weight: light;
}

@font-face {
    font-family: RobotoBold;
    src: url(fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: Roboto, 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif !important;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color: black;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -webkit-transition: all 0.1s ease;
    padding-top: 6.4rem;

}

.view.active {
    -webkit-transform: translate3d(0, 0, 0);
}

#top-menu {
    background: #ffffff !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 40%;
    bottom: 0;
    z-index: 20;
    padding-top: 5px;
    -webkit-transform: translate3d(-100%, 0, 0);
    -webkit-transition: all 0.1s ease;
    margin-top: 76px;
    opacity: 0.91;
    margin-bottom: 15em;
    border: 1px solid #D1D1D1;
    box-shadow: 5px 5px 15px #d1d1d1;
}

#top-menu.active {
    -webkit-transform: translate3d(0, 0, 0);
}

#login-progress {
    margin: 10px 15px;
    display: none;
}

#login-status {
    padding: 50px 15px 15px;
    font-size: 1.3em;
    text-align: center;
}

#login-form {
    margin-bottom: 2em;
    padding: 0px 37px;
}

#login-buttons {
    margin-bottom: 1em;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    border: 0;
    border-radius: 0 !important;
    border-bottom: 1px solid gray;
    outline: 0;
    box-shadow: none;
    display: block;
    margin: 10px 0;
    background-color: whitesmoke;
}

input[type="text"]:focus,
input[type="password"]:focus {
    font-family: -apple-system-body, "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif !important;
    box-shadow: none !important;
    outline: 0;
    /*border-bottom: 1px solid #787878;*/
    border-bottom-width: 2px;
    background-color: whitesmoke;
}

::-webkit-input-placeholder {
    color: #aaa !important;
}

/* Bootstrap, more like Poopstrap */
.btn {
    border: 1px solid currentColor !important;
    background-color: transparent !important;
    font-family: WorkSans !important;
    padding: 1rem !important;
    font-weight: normal !important;
    margin: 1rem 0;
}

.btn:hover, .btn:active, .btn:focus {
    color: white;
    background-color: currentColor;

}

.btn-primary {
    color: rgba(150,13,225,1) !important;
}

.btn-success {
    background-color: rgb(108, 176, 246) !important;
    border-color: rgb(108, 176, 246) !important;
    -webkit-border-radius: 5px !important;
}

.btn-danger {
    -webkit-border-radius: 5px !important;
}

#login-status {
    padding: 2em;
}

#app {
    /*background-color: #CFD8DC;*/
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 5px 0px 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

#page-title {
    display: inline;
    font-size: 1em;
    margin-left: 0.3em;
}

#header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 6.3rem; /* Change this height lol */
    background: linear-gradient(135deg, rgba(222,45,194,0.9) 0%,rgba(150,13,225,0.9) 100%);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.16), 0px 1px 2.5px 0px rgba(0, 0, 0, 0.26);
    z-index: 10;
	padding: 1.8rem 0.5rem 0 0.5rem;
    color: #ffffff;
    text-align: center;

    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#header .header-item {
    flex-shrink:0;
}

#header #header--title {
    flex-grow: 1;
    font-size: 18px;
    font-family: WorkSans;
    font-weight: bold;
}

/* header icon stuff */
#header .header-item .header-icon {
    width: 3.6rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    text-indent: -999999999px;
}

.icon--contacts {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../svg/contacts.svg');
}

.icon--settings {
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../svg/settings.svg');
}

#first-run {
    padding: 1em;
}

.main-btns {
    width: 100%;
    margin-bottom: 1px;
}

#tasks-btn {
    display: none;
    color: #ffffff !important;
    padding: 0 1em;
    font-size: 1.5em;
    text-decoration: none;
}

#tasks-btn.active {
    display: block;
    margin-left: -2.4em;
    padding-right: 0 !important;
}

#account-name-label {
    display: none;
    padding-top: .5em;
    padding-bottom: .5em;
}

.main-btn {
    color: #d1d1d1;
}

.main-btn a {
    color: #black;
    font-size: 1.4em;
    padding: 13px 15px !important;
}

.main-btn a:hover {
    background: none !important;
    color: #000000 !important;
}

.main-btn img {
    width: 35px;
    margin-right: 1em;
    opacity: 0.9;
}

#main-menu-btn {
    height: 25px;
    margin-right: 0.3em;
}

#find-user-form {
    margin-bottom: 1em;
}

#contacts {
    margin-top: -0.5em;
}

#contacts-list-wrapper {
    padding-top: 5px;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    border-bottom: 2px solid #aaaaaa;
}

#contacts-list {
  padding-top: 5px;
}

#contacts-list li {
    font-size: 1.2em;
    border-bottom: 1px solid #ccc;
    line-height: 30px;
    padding: 0 20px;
    color: #444;
}

#contact-details {
    text-align: center;
}

#contact-details-buttons {
    margin: 15px 0;
}

#add-contact-button-row {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    height: 35px;
}

#add-contact-button-row img {
    margin-left: 10px;
    height: 40px;
}

#compose-message {
    height: 8em;
}

#my-fingerprint-id {
    text-align: center;
    height: 90%;
    overflow: scroll;
}

#my-fingerprint-id canvas {
  margin-bottom: 20px;
}

#scan-select {
  padding: 20px;
}

#scan-select-desktop {
  padding: 20px;
}

#scan-select-buttons {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 1em;
}

#verify-user {
  padding: 20px;
}

#verify-user-buttons {
  text-align: center;
  margin-top: 20px;
}

#verify-user-success-msg {
  text-align: center;
}

#verify-user-success-msg canvas {
  padding-top: 10px;
}

#server-supplied {
  float: left;
}

#scan-supplied {
  margin-left: 15px;
  float: right;
}

.full-message {
    display: none;
}

#alerts {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.alert {
    background: #323232 !important;
    border: none !important;
    border-radius: 2px !important;
    color: #fff;
    margin: 2em !important;
    text-align: center;
    padding: 15px 20px !important;
}

.alert-danger {
    background: #e51c23 !important;
    color: #fff !important;
}

.alert-info {
    color: #fff !important;
}

.progress {
    height: 10px !important;
    border-radius: 2px !important;
    box-shadow: none !important;
}


@-webkit-keyframes progress-bar-stripes-alternate {
  from {
    background-position: 50% 0;
  }
  to {
    background-position: 0 0;
  }
}

.progress-bar {
    -webkit-animation: progress-bar-stripes-alternate 0.8s linear infinite !important;
    background-image: linear-gradient(90deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent) !important;
    background-color: rgb(145, 45, 244) !important;
    background-size: 50% !important;
}

h3 {
    margin-top: 0 !important;
}

strong {
    font-family: RobotoBold;
}

#capture-avatar { padding: 7em;}

.overlay {
    display: none;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#000;
    opacity:0.8;
    z-index:15;
}

a {
    color: #000000 !important;
}

#password-generate {
    color: red;
    font-size: 14px;
}

#generate-account-verbage {
    margin: 10px;
}

#username-generate {
    margin-bottom: 1em;
}

#generate-form {
    margin-bottom: 2em;
    padding: 0px 37px;
}

#generate-buttons {
    margin-bottom: 1em;
}

#register-generate-btn {
    margin-top: 1em;
}

#register-generate-cancel-btn {
    margin-top: 1em;
}

#register-btn {
    font-size: smaller !important;
}

#switch-user-btn {
    font-size: smaller !important;
}

#get-new-passphrase {
    font-size: smaller !important;
}

#register-btn-wrapper {
    text-align: center;
}

#username-placehoder {
    text-align: center !important;
    display: none;
    border-bottom: 1px solid gray;
    margin: 1em !important;
}

.option {
    padding-bottom: 0.5em;
}

#about img {
    height: 50px;
    margin-left: 10px;
}

.option a {
    text-transform: uppercase;
}

.option-text {
    font-weight: bold;
    margin: 0 10px;
}

#options-controls {
    margin: 1.5em;
}

option-label {
    font-size: 1.2em;
}

#rememeber-credentials-label {

    margin-top: 1em;
    font-size: 1.2em;
    color: #a1a1a1;
    margin-left: 0.5em;
}

.following-complete {
    color: gray;
    font-size: 80%;
}

.following-not-complete {
    color: red;
    font-size: 80%;
}

#header-button-bar {
    list-style-type: none;
    display: none;
}

#header-button-bar li {
    display: inline-block;
}

.header-btn {
    font-size: 2em;
    color: whitesmoke;
    margin-right: 0.3em;
}

.header-bb-title {
    width: 50%;
}

#logout-page-title {
    font-size: 1.5em;
    margin-left: 0.5em;
}

#confirm-delete-contact-wrapper {
    display: none;
    margin-bottom: 1em;
}

ul .offline-ui {
  top: auto;
  bottom: 0;
  padding: 5px !important;
}
ul .offline-ui-retry {
  line-height: 30px !important;
}

.logged-new-contact {
    margin-top: 1em;
}

#contact-add-log {
    list-style-type: none;
}

body {
    background-color: whitesmoke !important;
}

.user-avatar-generic {
    height: 35px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-avatar {
    margin-right: 10px;
    width: 30px;
    margin-bottom: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #aaaaaa;
}

#retake-id-picture {
    font-size: 12px !important;
    margin-bottom: 0.5em;
}

#share-my-id-card {
    font-size: 12px !important;
    margin-bottom: 0.5em;
}

.card-btns {
    height: 40px;
}

#my-fingerprint-top-menu {
    height: 30px;
    margin-right: 0.4em;
}

#contact-card-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #eee;
    width: 100%;
    height: 60px;
    padding-top: 0.5em;
    padding-left: 60%;
}

#contact-card-menu img {
    margin-right: 1em;
    margin-left: 0.5em;
    margin-bottom: 1em;
}

