/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


@font-face {
    font-family: Hack;
    src: url(fonts/Hack-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Hack;
    src: url(fonts/Hack-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: RobotoThin;
    src: url(fonts/Roboto-Thin.ttf);
    font-weight: light;
}

@font-face {
    font-family: RobotoBold;
    src: url(fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/* Normalise from bootstrap because that's ok. */

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
mark {
  color: #000;
  background: #ff0;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
    overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;

}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    /* -webkit-user-select: none; */                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: -apple-system-body, "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif ;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color: black;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 20000ms infinite;
    -webkit-animation:fade 20000ms infinite;
}

.view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -webkit-transition: all 0.1s ease;
    padding-top: 4rem;
    padding-bottom: 5rem;

}

.view.active {
    -webkit-transform: translate3d(0, 0, 0);
}

.header-wrap.active {
    -webkit-transform: translate3d(0, 0, 0);
}

#top-menu {
    background: #ffffff ;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 40%;
    bottom: 0;
    z-index: 20;
    padding-top: 5px;
    -webkit-transform: translate3d(-100%, 0, 0);
    -webkit-transition: all 0.1s ease;
    margin-top: 76px;
    opacity: 0.91;
    margin-bottom: 15em;
    border: 1px solid #D1D1D1;
    box-shadow: 5px 5px 15px #d1d1d1;
}

#top-menu.active {
    -webkit-transform: translate3d(0, 0, 0);
}

#login-title {
    font-family: -apple-system-body, "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif ;
    padding: 1rem;
    font-size: 1.5em;
    font-weight: bold;
    margin: 1rem 0;
}

#login-progress {
    margin: 10px 15px;
    display: none;
}

#login-status {
    padding: 50px 15px 15px;
    font-size: 1.3em;
    text-align: center;
}

#login-form {
    padding: 0px 10px;
}

#login-buttons {
    margin: 1em;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    border: 0;
    border-radius: 0 ;
    border: none;
    border-bottom: 1px solid white;
    outline: 0;
    box-shadow: none;
    display: block;
    margin: 10px 0;
}

input[type="text"]:focus,
input[type="password"]:focus {
    font-family: -apple-system-body, "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif ;
    box-shadow: none ;
    outline: 0;
    border-bottom-width: 2px;
}

::-webkit-input-placeholder {
    color: white;
}

/* Bootstrap, more like Poopstrap */
.btn {
    border: 2px solid currentColor;
    background-color: transparent;
    font-family: -apple-system-body, "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif ;
    padding: 0.8rem;
    font-weight: normal;
    margin: 0.5rem 0;
}

.btn:hover, .btn:focus {
}

.btn:active {
    background-color: #FFF;
    opacity: 0.3;
}

.btn-primary .btn-success {
    color: rgb(108, 176, 246);
    border-color: rgb(108, 176, 246);
    -webkit-border-radius: 5px ;
}

.btn-danger {
    color: red;
}

.btn-small {
    border: 2px solid currentColor;
    background-color: transparent;
    font-family: -apple-system-body, "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
    padding: 0rem 0.3rem;
    font-weight: normal;
    margin: 0rem 0.3rem;
    font-size: 90%;
    color: whitesmoke;
    border-radius: 50%;
}

#login-status {
    padding: 2em;
}

#app {
    z-index: -20;
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 5px 0px 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

#page-title {
    display: inline;
    font-size: 1em;
    margin-left: 0.3em;
}

#header {
   position: fixed;
   top: 0;
   width: 100vw;
   display: none;
}

.header-wrap {
    background: linear-gradient(135deg, rgba(222,45,194,0.9) 0%,rgba(150,13,225,0.9) 100%);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.16), 0px 1px 2.5px 0px rgba(0, 0, 0, 0.26);
    z-index: 10;
    padding-top: 1.4rem;
    color: #ffffff;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.header-wrap nav:first-child {
    padding-left:0.5rem;
}

.header-wrap nav:last-child {
    padding-right:0.5rem;
}

.header-wrap .header-item {
    flex-grow: 0;
}

.header-wrap nav {
    display: inline-block;
}

a.header-back {
    flex-shrink: 1;
    font-size: 18px;
    font-family: -apple-system-body, "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif ;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.header-wrap #header--title {
    flex-shrink: 1;
    font-size: 18px;
    font-family: -apple-system-body, "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif ;
    font-weight: bold;
    text-decoration: none;
}

/* header icon stuff */
.header-wrap .header-item .header-icon, .icon {
     text-indent: -999999999px;
     overflow: hidden;
}

.header-wrap .header-item .header-icon {
    display: inline-block;
}

#header-contacts {

}

#header-settings {

}

#header-timeline {

}

.icon--timeline {
    width: 1.2rem;
    height: 2rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../svg/kloak-logo.svg');
}

.icon--contact-card {
    width: 2.0rem;
    height: 2.5rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../svg/show-card.svg');
}

.icon--contacts {
    width: 2.0rem;
    height: 2.5rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../svg/contacts.svg');
}

.icon--new-contact {
    width: 2.0rem;
    height: 2.5rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../svg/add-contact.svg');
    margin-left: 1em;
}

.icon--new-post {
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../svg/post.svg');
}

.icon--settings {
    width: 2.0rem;
    height: 2.5rem;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../svg/settings.svg');
}

.icon--send {
    width: 2.0rem;
    height: 2.5rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../svg/send.svg');
}

.icon--attach {
    width: 2.0rem;
    height: 2.25rem;
    background-size: 78%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../svg/attach-file.svg');
}

#first-run {
    padding: 1em;
}

.main-btns {
    width: 100%;
    margin-bottom: 1px;
}

#tasks-btn {
    display: none;
    color: #ffffff ;
    padding: 0 1em;
    font-size: 1.5em;
    text-decoration: none;
}

#tasks-btn.active {
    display: block;
    margin-left: -2.4em;
    padding-right: 0 ;
}

#account-name-label {
    display: none;
    padding-top: .5em;
    padding-bottom: .5em;
}

.main-btn {
    color: #d1d1d1;
}

.main-btn a {
    color: #black;
    font-size: 1.4em;
    padding: 13px 15px ;
}

.main-btn a:hover {
    background: none ;
    color: #000000 ;
}

.main-btn img {
    width: 35px;
    margin-right: 1em;
    opacity: 0.9;
}

#main-menu-btn {
    height: 25px;
    margin-right: 0.3em;
}

#find-user-form {
    margin-bottom: 1em;
}

#contacts {
    margin-top: -0.5em;
}

#contacts-list-wrapper {
    padding-top: 5px;
    border-bottom: 1px solid gray;
    height: 110%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#contacts-list {
    padding-top: 5px;
    -webkit-padding-start: 0px;
}

#contacts-list li {
    font-size: 1.2em;
    border-bottom: 1px solid #ccc;
    line-height: 30px;
    color: #444;
    list-style-type: none;
    padding-left: 20px;
}

#contact-details {
    text-align: center;
    margin-top: 1em;
}

#add-contact-button-row {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    height: 35px;
}

#add-contact-button-row img {
    margin-left: 10px;
    height: 40px;
}

#compose-message {
    height: 8em;
}

#my-fingerprint-id {
    text-align: center;
    height: 90%;
    overflow: scroll;
    margin: 1em;
}

#my-fingerprint-id canvas {
    margin-bottom: 1em;
    width: 100%;
}

#scan-select {
    padding: 40px;
    margin-top: 4rem;
    display: none;
}

#scan-select-desktop {
    padding: 40px;
    display: none;
}

#scan-select-buttons {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 1em;
}

#verify-user {
    display: none;
    padding: 20px;
}

#verify-user-buttons {
  text-align: center;
  margin-top: 20px;
}

#verify-user-success-msg {
  text-align: center;
}

#verify-user-success-msg canvas {
  padding-top: 10px;
}

#server-supplied {
  float: left;
}

#scan-supplied {
  margin-left: 15px;
  float: right;
}

.full-message {
    display: none;
}

#alerts {
    position: absolute;
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    top: 100px;
    left: 7%;
    z-index: 25000;
    width: 100%;
}

.alert {
    background: #323232;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin: 2em;
    text-align: center;
    padding: 15px 20px;
    width: 60%;
    z-axis: 30000;
}

.alert-danger {
    background: #e51c23 ;
    color: #fff;
}

.alert-info {
    color: white;
    background: black;
}

.alert-success {
    color: black;
    background: whitesmoke;
}

.alert-warning {
    background: yellow;
    color: black;
}

.company-logo {
    height: 30px !important;
}

#top-progress-wrapper {
    display: none;
    border-radius: 5rem;
    z-index: 11000;
    padding: 1.25rem 0;
    color: whitesmoke;
    background-color: rgba(50, 50, 50, 0.85);
    width: 90%;
    position: fixed;
    left: 5%;
    bottom: 50%;
    text-align: center;
}

#top-progress-wrapper span {
    position: relative;
    top: -6px;
    margin-left: 1rem;
    margin-right: 1rem;
}

@-webkit-keyframes blink {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.1;
    }
}

blink {
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 2.5s;
}

h3 {
    margin-top: 0 ;
}

strong {
    font-family: RobotoBold;
}

#capture-avatar { padding: 7em;}

.overlay {
    display: none;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#000;
    opacity:0.3;
    z-index:10500;
}

a {
    color: #000000 ;
}

#password-generate {
    color: red;
    font-size: 14px;
}

#generate-account-verbage {
    margin: 10px;
}

#username-generate {
    margin-bottom: 1em;
}

#generate-form {
    margin-bottom: 2em;
    padding: 0px 37px;
}

#generate-buttons {
    margin-bottom: 1em;
}

#register-generate-btn {
    margin-top: 1em;
}

#register-generate-cancel-btn {
    margin-top: 1em;
}

#register-btn-wrapper {
    margin-bottom: 2em;
}

#switch-user-btn {

}

#get-new-passphrase {
    font-size: smaller ;
}

#register-btn-wrapper {
    text-align: center;
}

#username-placeholder {
    color: currentColor;
    margin-top: 2em;
}

.option {
    margin-bottom: 0;
    margin-top: 0;
}

#about img {
    height: 50px;
    margin-left: 10px;
}

.option a {
    text-transform: uppercase;
}

.option-text {
    margin: 0 10px;
    font-size: 90%;
}

.option-btn {
    width: 98%;
}

#options-controls {
    margin: 1.5em;
}

option-label {
    font-size: 1.2em;
}

#rememeber-credentials-label {

    margin-top: 1em;
    font-size: 1.2em;
    color: #a1a1a1;
    margin-left: 0.5em;
}

.following-complete {
    color: gray;
    font-size: 80%;
}

.following-not-complete {
    color: red;
    font-size: 80%;
}

#header-button-bar {
    list-style-type: none;
    display: none;
}

#header-button-bar li {
    display: inline-block;
}

.header-btn {
    font-size: 2em;
    color: whitesmoke;
    margin-right: 0.3em;
}

.header-bb-title {
    width: 50%;
}

#logout-page-title {
    font-size: 1.5em;
    margin-left: 0.5em;
}

#confirm-delete-contact-wrapper {
    display: none;
    margin: 0.2em;
}

ul .offline-ui {
  top: auto;
  bottom: 0;
  padding: 5px ;
}

ul .offline-ui-retry {
  line-height: 30px ;
}

.logged-new-contact {
    margin-top: 1em;
}

#contact-add-log {
    list-style-type: none;
}

body {
    background-color: whitesmoke ;
}

.user-avatar-generic {
    margin-right: 10px;
    margin-top: 5px;
    height: 29px;
    margin-left: 2px;
    margin-bottom: -2px;
}

.user-avatar {
    margin-top: 4px;
    margin-right: 8px;
    width: 30px;
    -webkit-border-radius: 5px;
    border: 1px solid #aaaaaa;
    margin-bottom: -3px;
}

#retake-id-picture {
    font-size: 12px ;
    margin-bottom: 0.5em;
}

#share-my-id-card {
    font-size: 12px ;
    margin-bottom: 0.5em;
}

.card-btns {
    height: 40px;
}

#my-fingerprint-top-menu {
    height: 30px;
    margin-right: 0.4em;
}

#contact-card-menu {
    width: 100%;
    text-align: center;
}

#contact-card-menu a {
    text-decoration: none;
}

#contact-card-menu img {
    margin-right: 1em;
    margin-left: 0.5em;
    margin-bottom: 1em;
}

#update-bio-wrapper {
    margin-bottom: 1em;
}

#my-options-pane.view.active {
    overflow: scroll;
}

.intro-graphics {
    background: linear-gradient(to bottom, #620271 0%,#c444e1 45%,#f094b1 100%);
    color: white;
    text-align: center;
}

#account-login h1 {
    font-size: 45px;
    font-family: -apple-system-body, "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif ;
    font-weight: bolder;
}

#account-login h2 {
    text-align: center;
    font-size: 16px;
    font-family: -apple-system-body, "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif ;
    color: white;
    margin-top: 2em;
}

#account-login .logo {
    text-align: center;
}

div .logo {
    text-align: center;
}

#onboarding-create-username {
    text-align: left;
    width: 90%;
    margin-left: 1em;
    margin-top: 2em;
}

#onboarding-create-username h3 {
    color: white;

}

#onboarding-create-passphrase {
    text-align: left;
    width: 90%;
    margin-left: 1em;
    margin-right: 1em;
    position: fixed;
    bottom: 20px;
}

.onboarding-input{
    width: 100%;
    font-size: 1em;
    padding: 0.6em 0;
    color: white;
}

input.onboarding-input {
    /* -webkit-border-radius: 5px; */
    background-color: transparent !important;
}

#onboarding-check-username {
    width: 100%;
}

.onboarding-btn {
    width: 100%;
    font-size: 1em;
}

.onboarding-link {
    text-decoration: none;
    color: #FFF;
    font-size: 0.9em;
    font-family: -apple-system-body, "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif ;
    font-weight: bold;
    text-decoration: underline;
}

.onboarding-header-container {
    text-align:center;
    color: white;
}
.onboarding-header-container img {
    height: 128px;

}
.onboarding-header-container p {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.035rem;
}

#onboarding-passphrase-input {
    font-size: 1.1em;
    text-align: center;
    background-color: transparent !important;
    border: 1px dashed white !important;
    box-shadow: none;
    border-radius: 0;
    padding: 0.6em;
    box-sizing: border-box;
    margin-bottom: 0.5em;
}

#onboarding-create-passphrase #clear-passphrase {
    font-size:0.8em;
    margin-bottom: 1em;
}
.onboarding-continue-wrapper {
    margin-bottom: 1em;
    text-align: center;
}

#passphrase-info {
    text-align: center;
}

#passphrase-info p {
    padding-right: 1em;
}

#change-passphrase-info p {
    padding-right: 1em;
}

#change-passphrase-info {
    margin: 1em;
}


#onboarding-create-passphrase h3 {
    font-size: 1em;
    margin-top: 10px;
    color: white;
    float: left;
}
#onboarding-create-passphrase #regenerate-passphrase {
    float: right;
    margin-top: 11px;
    font-weight: normal;
}

#onboarding-account-generation {
    margin-left: 1em;
    margin-top: 4em;
    text-align: center;
    color: white;
}

#onboarding-contact-card-wrapper {

}

#onboarding-account-generation-card {
    margin-top: 2em;
    margin-left: 1em;
    color: white;
}

#contact-card-info {
    font-size: 80%;
    color: black;
}

#onboarding-account-contact-card {
    margin-left: 1em;
    margin-right: 1em;
}

#onboarding-no-account-step-4 {
    padding-top: 1rem !important;
}

#onboarding-contact-card-share-buttons {
    margin-top: -18px;
    width: 290px !important;
}

.onboarding-light-copy {
    color: white;
    font-size: 80%;
}

.onboarding-dark-copy {
    color: black;
    font-size: 80%;
}

#onboarding-no-account-step-2 {
    padding-top: 2em;
    display: none;
}

#onboarding-contact-card-wrapper canvas {
    width: 99%;
}

.current-contact-card-canvas {
    width: 90%;
}

textarea#old-pass-change-passphrase-input.onboarding-input {
    font-size: 1em !important;
    width: 100% !important;
    border-radius: 0;
    border: 1px dashed #1c1c1c;
    background-color: whitesmoke;
    padding: 3px;
}

textarea#change-passphrase-input.onboarding-input {
    font-size: 1em;
    width: 100% !important;
    border-radius: 0;
    border: 1px dashed #1c1c1c;
    background-color: whitesmoke;
    padding: 3px;
}

button#change-passphrase-continue.btn.onboarding-btn {
    width: 100% !important;
}

/* Spinning Cube thx to @tobiasahlin. */
.sk-folding-cube {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    display: inline-block;

    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

#change-passphrase-info p {

}

.change-pass-label {
    font-size: 80%;
    margin-bottom: 4px;
    margin-top: 4px;    
}

#change-passphrase-info {
    margin: 1em;
}

textarea#old-pass-change-passphrase-input.onboarding-input {
    font-size: 1em !important;
    width: 98% !important;
    color: black !important;
    height: 3em;
}

textarea#change-passphrase-input.onboarding-input {
    font-size: 1em;
    width: 98% !important;
    color: black !important;
    height: 3em;
}

button#change-passphrase-continue.btn.onboarding-btn {
    width: 100% !important;
}

#change-passphrase-continue-wrapper p {
    color: black !important;
}

#change-passphrase-continue-wrapper a {
    color: black !important;
}

#regenerate-new-change-passphrase {
    color: black;
    font-size: 80%;
}

#new-passphrase-cancel {
    color: black;
    font-size: 80%;
}

#clear-new-change-passphrase {
    color: black;
    font-size: 80%;
}

div#onboarding-account-contact-card p {
    color: white !important;
}

div#onboarding-account-contact-card a {
    color: white !important;
}

#display-passphrase-output {
    z-index: 40000;
    width: 80%;
    display: none;
}

#display-passphrase-output.active {
    display: block;
    position: absolute;
    top: 120px;
    padding: 1.1em;
    margin: 1em;
    background: whitesmoke;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.16), 0px 1px 2.5px 0px rgba(0, 0, 0, 0.26);
}

#display-passphrase-output textarea {
    width: 100%;
    height: 4rem;
    font-size: 1em;
    border-radius: 0;
    border: 1px dashed #000;
}

#display-passphrase-output button {
    width: 100%;
}