/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#set-my-status-textarea {
    width: 95%;
    margin: 0.5em;
    font-size: 1.2em;
    height: 180px;
    font-style: normal;
    padding: 0.3em;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #ddd;
    float: right;
}
#set-my-status-form {
    margin-top: -1.3em;
}

#set-my-status-btn {
    font-size: 3em;
}

#take-a-photo-btn {
    color: #000;
}

#pick-an-image-btn {
    color: #000;
}

#include-gps-btn {
    color: #000;
}

#set-my-geoloc-btn {
    margin-bottom: .25em;
}

#my-geoloc {
    font-size: 1em;
    float: right;
    margin-right: 2em;
    padding: 1em;
}

.status-update {
    margin-bottom: 3px;
    padding-left: 1em;
}

.status-update-username {
    font-weight: bolder;
}

.status-text {
    font-size: 1.3em;
}

.status-metadata {
    font-size: 90%;
    list-style-type: square;
    padding-left: 2em;
}

#feed {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: 0 ;
}

#my-status {
    padding-top: 2em;
    padding-left: 1em;
    background-color: white;
    color: black;
}

#my-feed-entries {
    color: black;
    background-color: whitesmoke;
}

#my-handle {
    font-weight: bold;
    font-size: 1.3em;
    color: #a1a1a1;
}

#my-status-text {
    font-size: 1.4em;
}

#my-status-metadata {
    font-size: 90%;
    list-style-type: square;
    padding-left: 2em;
}

.my-avatar {
    float:left;
    margin-right: 10px;
    height: 75px;
    width: 75px;
    display:block;
}

/* ====== media ====== */

.media {
    margin-top: 10px ;
    font-family: -apple-system-body, "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif ;
    -webkit-font-smoothing: subpixel-antialiased;
}

.media, .bd {
    overflow:hidden;
    _overflow:visible; zoom:1;
}

.media .img {
    float: left;
    margin: 0 1rem 0 0.75rem;
    width: 3.5rem;
    height: 3.5rem;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.media .img img {
    display:block;

}

.media .imgExt {
    float:right;
    margin-left: 10px;
}

.media-avatar {
    width: 100%;
}

.media-metadata {
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    /* border-bottom: 1px solid #d5d5d5; */
    padding: 0 0.5rem 1rem 0;
}

.media-username {
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    color: #585858;
}

.media-status {
    font-size: 16px;
    font-weight: normal;
    margin-right: 15%;
    display: block;
    margin-bottom: 0.6rem;
    line-height: 1.2rem;
    color: #585858;
}

.media-timestamp {
    font-size: 11px;
    /* font-family: Hack; */
    color: #8A8A8A;
}

.media-location {
    font-size: 11px;
    font-weight: bold;
    /* font-family: Hack; */
    color: #8A8A8A;
}

.media-avatar-update {
    font-size: 70%;
    margin-bottom: 0.2em;
}
.media-generic-avatar {
    width: 50px;
    height: 50px;
    font-size: 44px;
    font-weight: bold;
    margin: 10px;
}

.media-footer {
    line-height: 1.2rem;
}

#my-status-wrapper {
    margin-top: 20px;
}

.post-img {
    margin: 0 1rem 0 0;
}

.post-button {
    font-size: 3em;
    color: #000;
    margin-right: 0.3em;
}

#button-row {
    text-align: center;
    margin-bottom: 10px;
}

#button-row img {
    height: 40px;
    margin-right: 7px;
}

#status-update-wrapper {
    margin-top: 5px;
}

#my-avatar {
    height: 45px;
    -webkit-border-radius: 5px;
}

#my-image-to-post {
    padding-top: 1em;
    text-align: center;
}

.status-block {
}

#post-button-cog {
    display: none;
    font-size: 4em;
}

.feed-image {
    border: 4px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
    margin-top: 0.5em;
    width: 100%;
}

.ired {
    color: red;
}

#feed-progress-wrapper {
}

#header-refesh-btn {
    font-size: 1.2em;
    display: none;
    color: white;
}

#fetch-previous-items {
    display: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#feed-footer {
    padding: 2rem 1.5rem;
}

#top-progress-wrapper {
    background-color: whitesmoke;
    height: 10px;
    display: none;
    margin-top: -1.6em;
}

#first-run-empty-feed-btn {
    display: none;
}

.media-link-url { color: gray }
.media-link-email { color: gray }
.media-link-phone { color: red; }
.media-link-twitter { color: blue; }
.media-link-hashtag { color: purple; }

#about-view {
    margin: 2em;
    font-size: 118%
}

.app-logo {
    margin-bottom: 1em;
}

.empty-timeline-element {
    display: none;
}

#header-btn-update {
    margin-right: 0.3em;
    height: 30px;
}

#header-btn-refresh {
    margin-right: 0.3em;
    height: 30px;
}

#first-run-empty-feed-msg {
    display: none;
    margin: 2em;
    font-size: 1.1em;
    padding: 1em;
    border: 1px solid #d1d1d1;
}