#set-my-status-textarea {
    width: 80%;
    height: 175px;
    margin: 2em;
    font-size: 1.5em;
}

#set-my-status-btn {
    margin-top: .25em;
    margin-left: 2em;
}

#set-my-geoloc-btn {
    margin-bottom: .25em;
    margin-left: 2em;
}

#my-geoloc {
    margin-left: 2em;
    font-size: 1.25em;
}

.status-update {
    margin-bottom: 3px;
}

.status-update-username {
    font-weight: bolder;
}

.status-text {
    font-weight: bold;
}

.status-metadata {
    font-size: 70%;
}

#feed {
    margin-top: -20px;
}

#my-status {
    padding: 2em;
    background-color: #5e6ec7;
    border-bottom: 3px solid #999;
    color: white;
}

#my-feed-entries {
    padding: 2em;
    color: white;
    background-color: #8895dc;
}
