#set-my-status-textarea {
    width: 90%;
    margin: 1em;
    font-size: 1.6em;
    height: 100px;
    font-style: normal;
    padding: 0.5em;
    border-radius: 4px;
    box-shadow: 1px 2px 2px #ddd;
}

#set-my-status-btn {
    margin-top: .25em;
    margin-left: 2em;
    box-shadow: 1px 2px 2px #ddd;
}

#set-my-geoloc-btn {
    margin-bottom: .25em;
    margin-left: 2em;
}

#my-geoloc {
    margin-left: 2em;
    font-size: 1.25em;
}

.status-update {
    margin-bottom: 3px;
    padding-left: 1em;
    border-bottom: 1px solid gray;
}

.status-update-username {
    font-weight: bolder;
}

.status-text {
    font-size: 1.3em;
}

.status-metadata {
    font-size: 90%;
    list-style-type: square;
    padding-left: 2em;
}

#feed {
    /* margin-top: -20px; */
}

#my-status {
    padding-top: 2em;
    padding-left: 1em;
    background-color: white;
    border-bottom: 2px solid rgba(67, 67, 67, 0.14);
    color: black;
}

#my-feed-entries {
    padding-top: 1em;
    color: black;
    background-color: whitesmoke;
}

#my-handle {
    font-weight: bold;
    font-size: 1.3em;
    color: #a1a1a1;
}

#my-status-text {
    font-size: 1.4em;
}

#my-status-metadata {
    font-size: 90%;
    list-style-type: square;
    padding-left: 2em;
}

.my-avatar {
    padding-right: 0em;
    height: 75px;
    width: 75px;
}