<?xml version='1.0' encoding='utf-8'?>
<widget id="io.crypton.statusapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>ZK</name>
  <description>
    A Zero-Knowledge status application 
  </description>
  <author email="ddahl@nulltxt.se" href="http://nulltxt.se">
    David Dahl
  </author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="target-device" value="universal" />
   <preference name="BackupWebStorage" value="none" />
</widget>
