<?xml version='1.0' encoding='utf-8'?>
<widget id="io.crypton.statusapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kloak</name>
    <description>
    A Zero-Knowledge status application 
  </description>
    <author email="ddahl@nulltxt.se" href="http://nulltxt.se">
    David Dahl
  </author>
  <content src="index.html" />
  <access origin="https://kloakstaging.crypton.io" />
  <access origin="https://zk.gs" />
  <allow-navigation href="https://kloakstaging.cryopton.io/*" />
  <allow-navigation href="https://zk.gs/*" />
  <preference name="target-device" value="universal" />
  <preference name="BackupWebStorage" value="none" />
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="webviewbounce" value="false" />
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="orientation" value="portrait" /> 
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000" />
  <preference name="android-minSdkVersion" value="14" />
  <!-- <access origin="content:///*" /> -->

  <platform name="android">
    <allow-navigation href="android-webview-video-poster://*" />
    <access origin="android-webview-video-poster://*" />
    <splash src="platforms/android/res/drawable-land-hdpi/screen" density="port-hdpi"/>
    <splash src="platforms/android/res/drawable-land-ldpi/screen" density="port-ldpi"/>
    <splash src="platforms/android/res/drawable-land-mdpi/screen" density="port-mdpi"/>
    <splash src="platforms/android/res/drawable-land-xhdpi/screen" density="port-xhdpi"/>
    <splash src="platforms/android/res/drawable-port-hdpi/screen" density="port-hdpi"/>
    <splash src="platforms/android/res/drawable-port-ldpi/screen" density="port-ldpi"/>
    <splash src="platforms/android/res/drawable-port-mdpi/screen" density="port-mdpi"/>
    <splash src="platforms/android/res/drawable-port-xhdpi/screen" density="port-xhdpi"/>
    </platform>
  
</widget>
