<?xml version='1.0' encoding='utf-8'?>
<widget id="io.crypton.statusapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kloak</name>
    <description>
    A Zero-Knowledge status application 
  </description>
    <author email="ddahl@nulltxt.se" href="http://nulltxt.se">
    David Dahl
  </author>
  <content src="index.html" />
  <access origin="https://kloakstaging.crypton.io" />
  <access origin="https://zk.gs" />
  <allow-navigation href="https://kloakstaging.cryopton.io/*" />
  <allow-navigation href="https://zk.gs/*" />
  <preference name="target-device" value="universal" />
  <preference name="BackupWebStorage" value="none" />
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="webviewbounce" value="false" />
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="orientation" value="portrait" />

  <platform name="ios">
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="2000" />
  </platform>

  <platform name="android">
    <preference name="android-minSdkVersion" value="14" />    
  </platform>
</widget>
